<h2 mat-dialog-title>Add GitHub Issue</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="input-row">
      <mat-form-field floatLabel="always" fxFlex>
        <mat-label>Project Name</mat-label>
        <input matInput formControlName="projectName" [placeholder]="placeholder.projectName">
        <mat-error>Project Name is <strong>required</strong></mat-error>
      </mat-form-field>
    </div>
    <div class="input-row">
      <mat-form-field floatLabel="always" fxFlex>
        <mat-label>Issue Number</mat-label>
        <input matInput formControlName="issueNumber" [placeholder]="placeholder.issueNumber">
        <mat-error>Issue Number is <strong>required</strong></mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-button [mat-dialog-close]="undefined">CANCEL</button>
    <button mat-raised-button color="primary" type="submit">ADD</button>
  </mat-dialog-actions>
</form>
