<h2 mat-dialog-title>Add GitHub Issue</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="input-row">
      <mat-form-field floatLabel="always" fxFlex>
        <mat-label>Issue URL</mat-label>
        <input matInput formControlName="url" [placeholder]="placeholder.url">
        <mat-error>A <strong>valid</strong> GitHub URL is <strong>required</strong></mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="newIssue$ | async as newIssue" @grow class="grow">
      <div fxLayoutGap="20px">
        <mat-form-field floatLabel="always" fxFlex>
          <mat-label>Project Name</mat-label>
          <input matInput [value]="newIssue.projectName" disabled>
        </mat-form-field>
        <mat-form-field floatLabel="always" fxFlex>
          <mat-label>Issue Number</mat-label>
          <input matInput [value]="newIssue.issueNumber" disabled>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="newIssueRetrieved$ | async as issue" @grow class="grow">
      <div>
        <mat-form-field floatLabel="always" fxFlex>
          <mat-label>Issue Description</mat-label>
          <textarea matInput matTextareaAutosize [value]="issue.description" disabled></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="always" fxFlex>
          <mat-label>Status</mat-label>
          <input matInput [value]="issue.status" disabled>
        </mat-form-field>
        <mat-form-field floatLabel="always" fxFlex>
          <mat-label>Latest Activity</mat-label>
          <input matInput [value]="issue.latestActivityDate | date:'MMM d, y, h:mm a'" disabled>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="form.disabled">
      <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-button (click)="onClear()" [disabled]="form.disabled">CLEAR</button>
    <span fxFlex></span>
    <button type="button" mat-button (click)="onClose()">CLOSE</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.disabled">ADD</button>
  </mat-dialog-actions>
</form>
