@import '~@angular/material/theming';

@mixin releases-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  .releases-header {
    @include mat-elevation(1);

    z-index: 1;
    border-bottom: 1px solid mat-color($primary, darker);
  }

  .releases-content__table {
    @include mat-elevation(1);

    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .projects-table .datatable-row-even {
    background-color: mat-color($background, hover);
  }
}
