@import '~@angular/material/theming';

@mixin command-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .command-bar {
    background-color: mat-color($primary, lighter);
  }
}
