.command-bar {
  max-height: 48px;
}

.command-bar-filter__prefix {
  margin: 0 6px;
  font-weight: 500;
}

.refreshing {
  animation: spin 750ms ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
